/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

/* Changing the main font and background colour */

body {
	font-family: lust-text, serif;
font-style: normal;
font-weight: 300;
	background-color: #f8eee5;
}

/* Changing the background colour for the header */

header {
	background-color: #f8eee5;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #CEA289;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #000000;
	font-weight: bold;
}

.headercolor{
	color: #CEA289;
}

.dingdong{
	color: #603F23;
}

.colorbutton{
	color: #9B6B43;

}
.bground{
	background-color: #9B6B43;
}

.btn{
	border-color: black;
	border: thick;
	
}


